{
	"env": {
       "browser": true,
       "node": true,
       "jquery": true
    },
	"extends": [
		"standard",
		"htmlacademy/es6"
	],
	"rules": {
		"no-console": "off",
		"indent": [
			"error",
			4
		],
		"semi": [
			"error",
			"never"
		],
		"quotes": [
			"error",
			"backtick"
		]
	}
}