@font-face {
    font-family: "DINPro-Bold";
    src: url('../fonts/DINPro/DINPro-Bold.eot');
    src: url('../fonts/DINPro/DINPro-Bold.eot') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro/DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "DINPro-BoldItalic";
    src: url('../fonts/DINPro/DINPro-BoldItalic.eot');
    src: url('../fonts/DINPro/DINPro-BoldItalic.eot') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro-BoldItalic.woff') format('woff'),
    url('../fonts/DINPro/DINPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: "DINPro-Italic";
    src: url('../fonts/DINPro/DINPro-Italic.eot');
    src: url('../fonts/DINPro/DINPro-Italic.eot') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro-Italic.woff') format('woff'),
    url('../fonts/DINPro/DINPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: "DINPro-Medium";
    src: url('../fonts/DINPro/DINPro-Medium.eot');
    src: url('../fonts/DINPro/DINPro-Medium.eot') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro-Medium.woff') format('woff'),
    url('../fonts/DINPro/DINPro-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "DINPro-MediumItalic";
    src: url('../fonts/DINPro/DINPro-MediumItalic.eot');
    src: url('../fonts/DINPro/DINPro-MediumItalic.eot') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro-MediumItalic.woff') format('woff'),
    url('../fonts/DINPro/DINPro-MediumItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: "DINPro";
    src: url('../fonts/DINPro/DINPro.eot');
    src: url('../fonts/DINPro/DINPro.eot') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro.woff') format('woff'),
    url('../fonts/DINPro/DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}