footer.datafolks__footer
    .datafolks__footer__container
        .datafolks__footer__left
            h2 Контакты
            p Коммуникационное агентство
            p 344000, Россия, г. Ростов-на-Дону ул. Мира, д. 12 Бизнес–центр «Рост», оф. 104
            .datafolks__footer__left__contacts
                .datafolks__footer__left__contacts__item
                    a(href="tel:+78613001128").datafolks__contacts__phone +7 (861) 300-11-28
                    a(href="tel:+78613001128").datafolks__contacts__phone +7 (861) 300-11-28
                    a(href="tel:+78613001128").datafolks__contacts__phone +7 (861) 300-11-28
                .datafolks__footer__left__contacts__item
                    .datafolks__contacts__email
                        p Email:
                        a(href="mailto:info@example.com").mb-5 info@example.com
                        a(href="https://facebook.com/exampleagency") Facebook.com/exampleagency
        .datafolks__footer__right
            .datafolks__footer__right__form
                form(method="" action="")
                    .form-group
                        input(type="text", placeholder="Полное имя", required, minlength="3")
                    .form-group
                        input(type="email", placeholder="E-mail", required, pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*")
                    .form-group
                        input(type="tel", placeholder="Телефон", required)
                    .form-group
                        textarea(placeholder="Пожалуйста, опишите задачу")
                    .form-group
                        a(href="/policy") Политика обработки персональных данных
                    button(type="submit") Отправить заявку
.datafolks__modal.d--none
    .datafolks__modal__container
        h2
        p
        img(src="", width="150" height="auto", alt="")